{% extends 'base.html' %}
{% load static %}



{% block content %}
  {% if article.image %}
    <img src="{{ article.image_thumbnail.url }}" alt="{{ article.image_thumbnail }}">
  {% else %}
    <img src="{% static 'images/default.jpg' %}" alt="default image">
  {% endif %}
  <p>title : {{ article.title }} </p>
  <p>content : {{ article.content }}</p>
  <p>created_at : {{ article.created_at }}</p>
  <p>updated_at : {{ article.updated_at }}</p>
  <hr>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="[DELETE]">  
  </form>
  <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>

{% endblock content %}




